.home {
  background-color: rgb(109, 109, 109);
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.mainColoum1 {
  flex: 1;
  background-color: #c4dfe6;
  display: flex;
  justify-content: center;
  align-items: start;
}

.mainColoum2 {
  flex: 1;
  background-color: #66a5ad;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.name {
  margin: 0;
  padding-top: 3%;
}
.lastName {
  margin: 0;
  padding-bottom: 3%;
}

.nextLogo {
  padding: 0 0 3% 5%;
}

.tp {
  background-color: #c4dfe6;
  height: 100vh;
}
