.home {
  background-color: rgb(109, 109, 109);
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.mainColoum1 {
  flex: 1;
  background-color: #c4dfe6;
  display: flex;
  justify-content: center;
  align-items: start;
}

.mainColoum2 {
  flex: 1;
  background-color: #66a5ad;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.name {
  margin: 0;
  padding-top: 3%;
}
.lastName {
  margin: 0;
  padding-bottom: 3%;
}

.nextLogo {
  padding: 0 0 3% 5%;
}

.home {
  background-color: #f0f3f4;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: rgb(122, 124, 138);
  background: linear-gradient(
    90deg,
    rgba(122, 124, 138, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.west {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.east {
  display: flex;
  flex-direction: column;
}

.company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.companyName {
  font-size: "2rem";
}
