.navbar {
  background-color: aliceblue;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #f2f2f2;
}
